<nav class="navbar navbar-expand-sm bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Restro App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="crud/add">Add Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="crud/update/null">Update Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="crud/list">List all restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/register">Register</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container text-center">
    <span class="text-body-secondary">Register your restaurant with us.</span>
  </div>
</footer>
